/*  your css code here. If applicable */
.card{
	background-color:soil;
	border:5px solid pink;
	width:250px;
	height:300px;
	text-align:center;
	padding:10px;
	box-shadow: 10px 10px 8px #888888;
}

#btn{
	padding:10px;
	background-color:tomato;
	text-color:white;
	border-radius:10px;
	height:40px;
	width:80px;
}


